.tools-bar-panel {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;

  .back {
    color: #0b0b0b;
    font-size: 18px;
  }

  .menu {
    font-size:20px;
    color: #0b0b0b;
  }
}